In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\eliza\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\eliza\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\eliza\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: prettytable<1 in c:\users\eliza\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\eliza\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\eliza\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\eliza\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: pygments in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: matplotlib-inline in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: decorator in c:\users\eliza\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\eliza\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\eliza\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\eliza\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [2]:
conda install -c conda-forge ipython-sql

^C

Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlalchemy

In [3]:
import sqlite3

In [4]:
import pandas as pd

# Showcasing Headers and Creating Databases

I am importing my csv files from my computer here, and showcasing the table via `head()` function. I will then use the `sqlite3` extention to create my databases.

In [5]:
crime_data = pd.read_csv(r"C:\Users\eliza\OneDrive\Desktop\ChicagoCrimeData.csv")
crime_data.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [82]:
cd = sqlite3.connect('crime_data.db')

In [ ]:
crime_data.to_sql('chicago_crime_data', cd)

In [15]:
census_data = pd.read_csv(r"C:\Users\eliza\OneDrive\Desktop\ChicagoCensusData.csv")
census_data.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [75]:
cen_data = sqlite3.connect('census_data.db')

In [ ]:
census_data.to_sql('chicago_census_data', cen_data)

In [18]:
school_data = pd.read_csv(r"C:\Users\eliza\OneDrive\Desktop\ChicagoPublicSchools.csv")
school_data.head(5)

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [45]:
chi_schools = sqlite3.connect('chicago_schools.db')

In [ ]:
school_data.to_sql('chicago_schools', chi_schools)

I am testing out my sqlite3 and sqlalchemy extensions by connecting the databases that I have created above.

In [21]:
%reload_ext sql

In [84]:
%sql sqlite:///crime_data.db

'Connected: @crime_data.db'

In [76]:
%sql sqlite:///census_data.db

'Connected: @census_data.db'

In [46]:
%sql sqlite:///chicago_schools.db

'Connected: @chicago_schools.db'

# SQL Practice

Below are the use of my SQL answers for the following questions from the following course `Databases and SQL For Data Science With Python` on Coursera. I have been able to properly use DML/DDL SQL statements, string patterns, grouping, and work through functions and sub-queries through this practice.

In [29]:
%%sql

# Find the total number of crimes recorded in the CRIME table.
# COUNT(*) returns the number of rows in a specified table.

SELECT COUNT(*) FROM chicago_crime_data

   sqlite:///census_data.db
   sqlite:///chicago_schools.db
 * sqlite:///crime_data.db
Done.

[(533,)]

In [38]:
%%sql

# List community areas with per capita income less than 11000
# WHERE statement = filtering; fulfills a specific condition.

SELECT community_area_name
FROM chicago_census_data
WHERE per_capita_income < 11000

 * sqlite:///census_data.db
   sqlite:///chicago_schools.db
   sqlite:///crime_data.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [42]:
%%sql

# List all case numbers for crimes involving minors.
# WHERE statement used again, LIKE = specified pattern
# % specifies multiple characters

SELECT case_number
FROM chicago_crime_data
WHERE description LIKE '%MINOR%'

   sqlite:///census_data.db
   sqlite:///chicago_schools.db
 * sqlite:///crime_data.db
Done.

[('HL266884',), ('HK238408',)]

In [43]:
%%sql

# List all kidnapping crimes involving a child.

SELECT * FROM chicago_crime_data
WHERE primary_type LIKE '%KIDNAP%' AND description LIKE '%CHILD%'

   sqlite:///census_data.db
   sqlite:///chicago_schools.db
 * sqlite:///crime_data.db
Done.

[(520, 5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [44]:
%%sql

# What kinds of crimes were recorded at schools?

SELECT DISTINCT(primary_type)
FROM chicago_crime_data
WHERE location_description LIKE '%SCHOOL%'

   sqlite:///census_data.db
   sqlite:///chicago_schools.db
 * sqlite:///crime_data.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

In [47]:
%%sql

# List the average safety score for all types of schools.
# AVG function = calculates the average
# GROUP BY = same values into summary

SELECT "Elementary, Middle, or High School", AVG(safety_score)
FROM chicago_schools
GROUP BY "Elementary, Middle or High School"

   sqlite:///census_data.db
 * sqlite:///chicago_schools.db
   sqlite:///crime_data.db
Done.

[('ES', 49.50487329434698)]

In [50]:
%%sql

# List 5 community areas with highest % of households below poverty line
# ORDER BY = sorts in ascending or descending
# DESC = descending, LIMIT = limiting the number of rows

SELECT community_area_name, percent_households_below_poverty
FROM census_data
ORDER BY percent_households_below_poverty DESC LIMIT 5

 * sqlite:///census_data.db
   sqlite:///chicago_schools.db
   sqlite:///crime_data.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [52]:
%%sql

# Which community area is most crime prone?

SELECT community_area_number, COUNT(*) AS frequency FROM chicago_crime_data
GROUP BY community_area_number ORDER BY frequency DESC LIMIT 1

   sqlite:///census_data.db
   sqlite:///chicago_schools.db
 * sqlite:///crime_data.db
Done.

[(25.0, 43)]

In [54]:
%%sql

# Use a sub-query to find the name of the community area with the highest hardship index.
# Note the parantheses, I want to SELECT the MAX (which the largest value) of hardship_index

SELECT community_area_name
FROM chicago_census_data
WHERE hardship_index = (SELECT MAX(hardship_index) FROM chicago_census_data)

 * sqlite:///census_data.db
   sqlite:///chicago_schools.db
   sqlite:///crime_data.db
Done.

[('Riverdale',)]